<div class="container">
  <div class="board">
    <div class="board-wrapper">
      <div
        class="board-columns"
        cdkDropListOrientation="horizontal"
        cdkDropListGroup
        cdkDropListLockAxis="x"
        cdkDropList
        (cdkDropListDropped)="dropHorizontal($event)"
        [cdkDropListData]="board.columns"
      >
        <div class="board-column" *ngFor="let column of board.columns" cdkDrag>
          <div [id]="column.name">
            <div class="title-wrapper">
              <div class>
                {{ column.name }}
              </div>
              <div class="button-menu">
                <button mat-icon-button #menuTrigger [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="deleteList(column.name)">
                    <mat-icon color="dark">delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
            </div>

            <div
              class="tasks-container"
              cdkDropList
              [cdkDropListData]="column.tasks"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                {{ item }}
              </div>
            </div>
            <div class="button-wrapper">
              <a
                class="add-content"
                role="button"
                (click)="openDialog(column.name)"
              >
                <mat-icon
                  fontIcon="add"
                  aria-hidden="false"
                  class="icon"
                ></mat-icon
                >Add Card
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
