$primary: #267871;
$secondary: #136a8a;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: auto;
  height: auto;
  background: $secondary;
  background: -webkit-linear-gradient(210deg, $primary, $secondary);
  background: linear-gradient(210deg, $primary, $secondary);

  min-width: 100vw;
  min-height: 100vh;
}

.board-wrapper {
  display: flex;
  flex-grow: 1;
}

.board-columns {
  display: flex;
  flex-grow: 1;
  background: $secondary;
  background: -webkit-linear-gradient(210deg, $primary, $secondary);
  background: linear-gradient(210deg, $primary, $secondary);
}

.board-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: fit-content;
  flex-basis: 0;
  min-width: 250px;
  max-width: 250px;
  width: 250px;
  margin: 50px;
  padding: 25px;
  border-radius: 4px;

  background-color: rgba(white, 0.25);
  box-shadow: 0 5px 5px -3px rgba(black, 0.05), 0 3px 14px 2px rgba(black, 0.05);

  &:not(:first-child) {
    margin-left: 0;
  }

  &:last-child {
    border: none;
  }
}

.board-columns.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container {
  border: none;
  min-height: 20px;
  background: rgba(white, 0);
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.task {
  display: flex;
  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;

  margin-bottom: 15px;

  box-shadow: 0 5px 5px -3px rgba(black, 0.05), 0 3px 14px 2px rgba(black, 0.05);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(black, 0.2), 0 8px 10px 1px rgba(black, 0.14),
    0 3px 14px 2px rgba(black, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.button-wrapper {
  margin-top: 30px;
  box-sizing: border-box;
}

a {
  text-align: center;
  cursor: pointer;
  &.add-content {
    display: block;
    padding: 8px 0px;
    border-radius: 8px;
    width: 100%;
    background: rgba(black, 0.7);
    color: whitesmoke;
  }

  .icon {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: whitesmoke;
    font-size: 20px;
  }

  &:hover {
    background: rgba(black, 1);
  }
}

.title-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  color: whitesmoke;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 600;

  &.button-menu {
    padding: -20px;
    color: whitesmoke;
    font-size: 20px;
  }
}
